<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div >
                <h2 class="mb-3">Cambiar Contraseña</h2>
                <form (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="password" class="form-label">Nueva Contraseña</label>
                        <input type="password" name="password" [(ngModel)]="password" class="form-control" required minlength="6" />
                        <div *ngIf="!password" class="invalid-feedback">
                            La contraseña es requerida
                        </div>
                        <div *ngIf="password.length < 6" class="invalid-feedback">
                            La contraseña debe tener al menos 6 caracteres
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" required />
                        <div *ngIf="!confirmPassword" class="invalid-feedback">
                            La confirmación de la contraseña es requerida
                        </div>
                    </div>
                    <div class="mt-4">
                        <button [disabled]="loading" class="btn btn-primary" type="submit" (click)="onSubmit()">Cambiar Contraseña</button>
                    </div>
                </form>
            </div>
            <div *ngIf="success" class="mt-4">
                <p class="text-success">¡Contraseña cambiada con éxito!</p>
                <p><a routerLink="/home">Ir a la página de inicio de sesión</a></p>
            </div>
        </div>
    </div>
</div>