<div class="fade modal" id="paymentModal" *ngIf="resultado">
  <div class="modal-dialog modal-dialog-centered modal-header" *ngIf="datos_pago">
    <div class="modal-content text-center">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="text-uppercase">{{getTranslation('titulo_añadir_dinero')}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-body">
        <form (submit)="onSubmit()">
          <div class="row mb-4">
            <div class="col-lg-4 mb-3">
              <label for="monto" class="form-text">{{getTranslation('monto_agregar')}}</label>
            </div>
            <div class="col-lg-8 mb-3">
              <input type="number" id="monto" name="monto" class="form-control"
                     [(ngModel)]="monto" placeholder="{{getTranslation('monto_agregar')}}" min="3"/>
            </div>

            <p>{{getTranslation('descripcion_cuenta_pago')}}</p>
          </div>

          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary mb-4">
              {{getTranslation('añadir_dinero')}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="fade modal" id="paymentModalNew" *ngIf="!resultado">
  <div class="modal-dialog modal-dialog-centered modal-header">
    <div class="modal-content text-center">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="text-uppercase">{{getTranslation('titulo_crea_cuenta_pago')}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-body">
        <form (submit)="onSubmit()">
          <div class="row mb-4">
            <div class="col-lg-4 mb-3">
              <label for="monto" class="form-text">{{getTranslation('monto_agregar')}}</label>
            </div>
            <div class="col-lg-8 mb-3">
              <input type="number" id="monto" name="monto" class="form-control"
                     [(ngModel)]="monto" placeholder="{{getTranslation('monto_agregar')}}" min="3"/>
            </div>
            <p>{{getTranslation('descripcion_cuenta_pago')}}</p>
          </div>

          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary mb-4">
              {{getTranslation('añadir_dinero')}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>