#sidebar-nav {
  max-height: 75vh;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {

  .mensaje {
    width: 100px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


}

nav,
.offcanvas {
  background-color: #ffffff;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-nav>.nav-item:hover {
  background-color: #9fc8ff;
}