<div class="row justify-content-lg-between p-lg-4">

  <div class="card col-sm shadow-lg custom-card m-lg-4 mb-3">
    <div class="card-body">
      <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
        <img class="w-100" src="./assets/img/PC.png" alt="PC">
      </div>
      <div class="custom-card-footer">
        <div class="card-title">{{getTranslation('titulo_card1_servicios')}}</div>
        <div class="card-text">{{getTranslation('descripcion_card1_servicios')}}</div>
      </div>
    </div>
  </div>

  <div class="card col-sm shadow-lg custom-card m-lg-4 mb-3">
    <div class="card-body">
      <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
        <img class="w-100 m-lg-2" src="./assets/img/247.png" alt="24/7">
      </div>
      <div class="custom-card-footer">
        <div class="card-title">{{ getTranslation('titulo_card2_servicios')}}</div>
        <div class="card-text">{{ getTranslation('descripcion_card2_servicios')}}</div>
      </div>
    </div>
  </div>

  <div class="card col-sm shadow-lg custom-card m-lg-4 mb-3">
    <div class="card-body">
      <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
        <img class="w-100 m-lg-2" src="./assets/img/Profesionales.png" alt="Profesionales">
      </div>
      <div class="custom-card-footer">
        <div class="card-title">{{ getTranslation('titulo_card3_servicios')}}</div>
        <div class="card-text">{{ getTranslation('descripcion_card3_servicios')}}</div>
      </div>
    </div>
  </div>

</div>